<main class="main-container">
  <mat-toolbar class="header-container">
    <button
      (click)="sidenav.toggle()"
      mat-icon-button
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img
      src="../assets/logo.png"
      alt="logo"
      width="40"
      style="margin-right: 10px"
    />
    <span>Iconx Technologies</span>

    <span class="spacer"></span>

    <mat-icon>crop_free</mat-icon>
    <button [matMenuTriggerFor]="log" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <span>Admin</span>
  </mat-toolbar>

  <section>
    <mat-sidenav-container>
      <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
          <mat-list-item>
            <a routerLink="/">
              <button mat-button>
                <mat-icon>dashboard</mat-icon>
                Dashboard
              </button>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/attendance">
              <button mat-button>
                <mat-icon>supervised_user_circle</mat-icon>
                Attendance
              </button>
            </a>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content class="draw">
        <div class="router-container">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-menu #log="matMenu">
      <button mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        Logout
      </button>
    </mat-menu>
  </section>
</main>
