.main-container {
    margin: 0;
}

.header-container {
    background: #7a1fa2;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.example-container {
    height: 100%;
    width: 100%;
    color: black;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.draw {
    height: 90vh;
}

.router-container {
    padding: 1rem;
}